Brave*
*gsd-keyboard.settings-ported
hypr/config/monitor.conf
yay
draw.io
*evolution
p3x-onenote
Android Open Source Project
KDE
MongoDB Compass
Trolltech.conf
bluedevilglobalrc
discoverrc
drkonqirc
kactivitymanagerd-statsrc
kactivitymanagerdrc
kcminputrc
kconf_updaterc
kde.org
kded5rc
kded6rc
kdedefaults
kdeglobals
kglobalshortcutsrc
ksmserverrc
ktimezonedrc
kwalletrc
kwinrc
libaccounts-glib
menus
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasma-welcomerc
plasmanotifyrc
plasmaparc
plasmarc
plasmashellrc
powerdevilrc
powermanagementprofilesrc
session
tool_state
xdg-desktop-portal-kderc
xournalpp
xsettingsd
CurseForge
Electron
Epic
GIMP
Google
Joplin
Thunar
VirtualBox
blender
cef_user_data
dconf
flutter
gh
glib-2.0
gtk*
joplin-desktop
libreoffice
neofetch
obs-studio
openrazer
polychromatic
pulse
razercommander
spotify
tmux
unity3d
xfce4
QtProject.conf
baloofilerc
mimeapps.list
pavucontrol.ini
user-dirs.dirs
user-dirs.locale
discord
chromium
go
i3
system*
rncbc.org*
*.json
hyprconfig/monitor.conf
*.bak
Code*

nitrogen
