Android Open Source Project/
CurseForge/
Electron/
Epic/
GIMP/
Google/
Joplin
Thunar/
VirtualBox/
alacritty/
blender/
cef_user_data/
dconf/
flutter/
gh/
glib-2.0/
gtk*
joplin-desktop/
libreoffice/
neofetch/
obs-studio/
openrazer/
polychromatic/
pulse/
razercommander/
spotify/
tmux/
unity3d/
xfce4/
QtProject.conf
baloofilerc
mimeapps.list
pavucontrol.ini
user-dirs.dirs
user-dirs.locale
discord
chromium
go
i3
system*
rncbc.org*
*.json
hypr/config/monitor.conf
*.bak
Code*
KDE*
kde*
MongoDB*
Troll*
blu*
k*
session
tool*
x*
plasma*
power*
menus*
libaccount*
discover*
drk*
evolution
.gsd*
